<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WikiDPR - Tweet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class="container" ng-controller="WikiDprTweetController">
        <div class="row col-xs-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                              WikiDPR - Tweet
                            </a>
                        <button ng-click="connectButton()" ng-hide="userInfo.loggedIn" class="btn btn-primary navbar-btn">Connect Twitter</button>
                        <button ng-click="signOut()" ng-show="userInfo.loggedIn" class="btn btn-primary navbar-btn">Sign Out</button>
                    </div>
                </div>
            </nav>
        </div>

        <script type="text/ng-template" id="anggota-template.html">
            <a>
                <div class="row">
                    <div class="col-xs-4">
                        <img ng-src="http://wikidpr.org/uploads/anggota/{{match.model.photo.file}}" width="50">
                    </div>
                    <div class="col-xs-8">
                        <strong>
              <div bind-html-unsafe="match.label | typeaheadHighlight:query"></div>
            </strong>
              <span bind-html-unsafe="match.model.twitter | extractTwitterId"></span>
                        <div>Komisi <span bind-html-unsafe="match.model.komisi"></span>
                        </div>
                        <div bind-html-unsafe="match.model.partai"></div>
                    </div>
                </div>
            </a>
        </script>

        <div ng-show="userInfo.loggedIn">
            <div class="row col-xs-12">
                <input type="text" ng-model="tweetInfo.anggota" placeholder="Cari anggota" typeahead="anggota as anggota.nama for anggota in findAnggota($viewValue) | filter:{nama:$viewValue}"
                typeahead-template-url="anggota-template.html" typeahead-min-length="2"
                typeahead-on-select="onAnggotaSelected($item, $model, $label)"
                class="form-control" width="8">
            </div>
            <div class="row col-xs-12">
                <textarea style="height: 100px" class="form-control" ng-model="tweetInfo.text">{{tweetInfo.text}}</textarea>
            </div>

            <div class="row col-xs-12">
                <div class="col-xs-8">
                    <span ng-style="tweetInfo.textLimitStyle">Characters left: {{maxTweetChars - tweetInfo.text.length}}</span>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default pull-right" ng-disabled="isTextLimitHit()" type="submit" ng-click="submitTweet(tweetInfo.text)">Tweet!</button>
                </div>
            </div>

            <div class="row col-xs-12">
              @{{userInfo.username}}'s latest tweets:
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="tweet in userInfo.latestTweets">{{tweet.text}}</li>
              </ul>
            
            </div>
        </div>

    </div>

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controllers.js"></script>
</body>

</html>
